@use '../../../../../public/assets/styles/variables.scss' as *; 
@use '../../../../../public/assets/styles/mixins.scss' as *; 

:host {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  gap: 250px;
  width: 100%;
  padding: 17px 0;
  box-shadow: $box-shadow-menu;
  background: $color-white;

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 250px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &-logo {
    display: flex;
    align-items: center;
    gap: 8px;

    &__text {
      @include logo-text;
      text-transform: uppercase;
    }
  }

  &-nav {
    &__list {
      display: flex;
      align-items: center;
      gap: 50px;
    }

    &__item {
      &-link {
        @include primary-text;
      }
    }
  }
}