@font-face {
  font-display: swap;
  font-family: 'MullerRegular';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/MullerRegular.woff2') format('woff2'),
}

@font-face {
  font-display: swap;
  font-family: 'MullerRegular';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/MullerExtraBold.woff2') format('woff2'),
}

@font-face {
  font-display: swap;
  font-family: 'MullerRegular';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/MullerBlack.woff2') format('woff2'),
}