@use "variables" as *;

@mixin subtitle-text {
  font-size: 12px;
  font-weight: 800;
  color: $color-subtitle-text;
  line-height: 12px;
}

@mixin primary-text {
  font-size: 16px;
  font-weight: 400;
  color: $color-primary-text;
  line-height: 16px;
}

@mixin decs-promo {
  font-size: 16px;
  font-weight: 400;
  color: $color-desc;
  line-height: 16px;
}

@mixin input-text {
  font-size: 18px;
  font-weight: 400;
  color: $color-input-text;
  line-height: 16px;
}

@mixin logo-text {
  font-size: 24px;
  font-weight: 900;
  color: $color-logo-text;
  line-height: 26px;
}

@mixin title-text {
  font-size: 37px;
  font-weight: 900;
  line-height: 48px;
}

@mixin promo-text {
  font-size: 31px;
  font-weight: 900;
  line-height: 37px;
}