// Colors
$color-primary-text: rgba(164, 106, 0.0051, 1);;
$color-logo-text: rgba(255, 195.9981, 104.24655, 1);
$color-subtitle-text: rgba(255, 175.0014, 24.0006, 1);
$color-desc: rgba(185, 145, 80, 1);

// Variables
$box-shadow-menu: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);

